<div class="header">
    <h1><i>SLASH</i></h1>
    <p>easy <b>EMI</b> on your bill</p>
</div>

<div class="navbar">
    <a href="#" class="active">Home</a>

    <a href="#" class="right">Logout</a>
</div>
<form>

    <div class="container1">
        <h1>PRODUCT EMI PAYMENT</h1>
        <div class="payable">
            <b>Amount Payable:₹1625 </b>
        </div>
        
        <div class="c1">
        <b>Select a Payment method: </b><br />
             </div>

             
        <form action="">
            <div class="method">
            <label class="container">Debit/Credit Card
                <input type="radio" checked="checked" value="Card" name="payment">
                <span class="checkmark"></span>
            </label>
            <label class="container"> Net Banking
                <input type="radio" value="NetBanking" name="payment">
                <span class="checkmark"></span>
            </label>
            <label class="container">UPI
                <input type="radio" value="UPI" name="payment">
                <span class="checkmark"></span>
            </label>
        </div>
               <button class="button">Pay Now</button>
          
    </div>
</form>
</div>
</form>
<router-outlet></router-outlet>